name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore Coder.Desktop.sln

      - name: Build Avalonia app
        run: dotnet build App.Avalonia/App.Avalonia.csproj -c Release --no-restore

      - name: Build VPN service
        run: dotnet build Vpn.Service/Vpn.Service.csproj -c Release --no-restore

      - name: Run tests
        run: |
          dotnet test Tests.CoderSdk/Tests.CoderSdk.csproj --no-restore -v q
          dotnet test Tests.Vpn.Proto/Tests.Vpn.Proto.csproj --no-restore -v q
          dotnet test Tests.Vpn/Tests.Vpn.csproj --no-restore -v q
          dotnet test Tests.Vpn.Service/Tests.Vpn.Service.csproj --no-restore -v q
